# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env
.env.local 

# QR codes
src/qr_codes/*

# Build files
build/
*.spec
*.spec.py
*.spec.pyc
*.spec.pyo
*.spec.pyd
